.root {
    width: var(--height-base);
    border-radius: calc(var(--height-base) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}