.root {
    display: flex;
    flex-direction: column;
}

.userListTitle {
    color: var(--color-secondary);
    text-align: left;
    font-weight: bold;
    padding: 0;
    font-size: 9px;
    display: flex;
    gap: 4px;
    align-items: center;
    padding-bottom: var(--margin-base);
}

.root ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    list-style: none;
    margin: 0;
    padding:0;
}

.root li {
    width: 100%;
    max-width: 300px;
    list-style: none;
    margin: 0;
    padding:0;
}
