.root {
    border: solid 1px var(--color-controlers);
    outline-color: var(--color-primary);
    color: white;
    background: var(--color-controlers);
    transition: all 150ms;
}

.root:hover {
    background-color: var(--color-controlers-hover);
}

.root:active {
    background-color: var(--color-controlers-active);
}

.root:disabled,
.root:disabled:hover {
    border-color: var(--color-controlers-secondary);
    background-color: var(--color-controlers-secondary);
}